CountyCxfWebService/src/main/resources/wsdl/counties.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- http://localhost:8089/ws/counties.wsdl -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:sch="http://www.tier3llc.com/countyservice" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://www.tier3llc.com/countyservice" 
	targetNamespace="http://www.tier3llc.com/countyservice">
	
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tier3llc.com/countyservice">
			<xs:element name="getCountiesRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="state" type="xs:string"/>
						<xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getCountiesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="county" type="tns:county"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="county">
				<xs:sequence>
					<xs:element name="id" type="xs:int"/>
					<xs:element name="county" type="xs:string"/>
					<xs:element name="population" type="xs:long"/>
					<xs:element name="stAbbr" type="xs:string"/>
					<xs:element name="state" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="Fault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="errorMessage" type="xs:normalizedString"/>
						<xs:element name="errorCode" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="getCountiesResponse">
		<wsdl:part element="tns:getCountiesResponse" name="getCountiesResponse"> </wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="getCountiesRequest">
		<wsdl:part element="tns:getCountiesRequest" name="getCountiesRequest"> </wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="Fault">
		<wsdl:part element="tns:Fault" name="Fault"> </wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="CountiesPort">
		<wsdl:operation name="getCounties">
			<wsdl:input message="tns:getCountiesRequest" name="getCountiesRequest"> </wsdl:input>
			<wsdl:output message="tns:getCountiesResponse" name="getCountiesResponse"> </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="CountiesPortSoap11" type="tns:CountiesPort">
	
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getCounties">
			<soap:operation soapAction=""/>
			<wsdl:input name="getCountiesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getCountiesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="CountiesPortService">
		<wsdl:port binding="tns:CountiesPortSoap11" name="CountiesPortSoap11">
			<soap:address location="http://localhost:8089/ws"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>